@media screen and (max-width: 980px) {

	#body-wrapper {
		width: 95%;
	}
	#content {
		width: 60%;
		padding: 3% 4%;
	}
	#sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

}
@media screen and (max-width: 650px) {
	#header {
		height: auto;
	}
	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}
}
@media screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}
}

